<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre:</label>
    <input
      type="text"
      required
      name="name"
      id="name"
      autocomplete="name"
      [(ngModel)]="register.name"
      #nameInput5="ngModel"
    />
    <p class="message-error" [class.active]="nameInput5.invalid">
      Mensajes de error
    </p>
  </div>
  <div class="input-group">
    <label for="email">Email:</label>
    <input
      type="email"
      required
      name="email"
      id="email"
      autocomplete="email"
      [(ngModel)]="register.email"
      #emailInput="ngModel"
    />
    <p class="message-error" [class.active]="emailInput.invalid">
      Mensajes de error
    </p>
  </div>
  <div class="input-group">
    <label for="password">Password:</label>
    <input
      type="password"
      required
      name="password"
      id="password"
      autocomplete="current-password"
      [(ngModel)]="register.password"
      #passwordInput="ngModel"
    />
    <p class="message-error" [class.active]="passwordInput.invalid">
      Mensajes de error
    </p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>

<hr />
<h1>ngClass y ngStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr
  class="line-error"
  [ngClass]="{
    valid: nameInput4.valid,
    invalid: nameInput4.invalid
  }"
/>
<p class="message-error" [class.active]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div
    [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      display: 'block'
    }"
  ></div>
</div>
<hr />
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.active]="nameInput2.invalid">
  El campo es requerido
</p>
<label for="">Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
  Texto texto texto
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [src]="person.avatar" [style.width.%]="widthImg" />
  </div>
</div>
<hr />
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'jorge'">Soy Jorge</p>
  <p *ngSwitchCase="'juan'">Soy Juan</p>
  <p *ngSwitchCase="'ica'">Soy Mica</p>
  <p *ngSwitchDefault="">No hace match</p>
</div>

<hr />
<h1>*nfFor Objects</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image" />
    <h2>$ {{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr />
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add Name</button>

<ul>
  <li *ngIf="names.length === 0">No hay nombres en la lista</li>
  <li *ngFor="let name of names; index as i">
    {{ i + 1 }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr />
<h1>*ngIf</h1>

<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Jorge'">Soy Jorge</p>
<p *ngIf="person.name === 'Julian' && person.age === 50; else elseBlock">
  Soy Julian
</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<hr />
<h1>NgModel</h1>
<p>Nombre: {{ person.name }}</p>

<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<p>Age: {{ person.age }}</p>
<input
  type="number"
  max="65"
  min="18"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.age"
/>
<p>Valid: {{ ageInput.valid }}</p>
<hr />
<h1>Eventos</h1>
<button [disabled]="!btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="plusAge()">Age +</button>
<button (click)="minusAge()">Age -</button>
<div class="box" (scroll)="onScroll($event)" [style]="{ background: bkgr1 }">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
    assumenda aperiam, eveniet enim obcaecati necessitatibus quis provident
    tempora animi perferendis. Porro vel magni molestiae! Tenetur est eos illo
    officia voluptas! Voluptas omnis doloribus illum blanditiis placeat. Itaque
    eum vitae dolorem eos autem totam optio suscipit ipsam velit corrupti
    necessitatibus expedita, cumque eveniet rem fugit doloremque ea explicabo ut
    tempore minima.
  </p>
</div>
<hr />
<p>posición: {{ position }}</p>
<br />
<p>Nombre: {{ person.name }}</p>
<input type="text" (keyup)="changeName($event)" [value]="person.name" />
<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [name]="name" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100" />
<hr />

<h1>Hola mundo</h1>
<h2>{{ "Hola Mundo ".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
<img src="{{ image }}" alt="avatar" width="100" />
